In [1]:
import pandas as pd
from pandas_datareader import data
import matplotlib.pyplot as mp
%matplotlib inline

In [2]:
s_read = pd.read_csv("btc 4.csv")

### Converting to Euro Method

In [3]:
def convert_to_euro(number):
    return number * 0.87

In [4]:
#apply it to the necessary columns
columns = ['High','Low']
for col in columns:
    s_read[col]=s_read[col].apply(convert_to_euro)

### Filter the Date and assigning it to new dataframe

In [6]:
s_filter_output = s_read.loc[(s_read['Date'] >= '2019-01-01')
                     & (s_read['Date'] < '2019-12-31')]

### Renaming the columns using mapper method and display the dataframe

In [8]:
s_filter_output.rename(mapper ={'High':'High (Eur)','Low': 'Low (Eur)', 'Volume':'Volume (Billion)'},axis =1,inplace=True)
s_filter_output.head(5)

c:\users\3013011\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:4300: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Date,Open,High (Eur),Low (Eur),Close,Adj Close,Volume (Billion)
1567,2019-01-01,3746.713379,3350.295022,3225.291145,3843.520020,3843.520020,4324200990
1568,2019-01-02,3849.216309,3434.743645,3321.146199,3943.409424,3943.409424,5244856835
1569,2019-01-03,3931.048584,3424.046001,3328.813923,3836.741211,3836.741211,4530215218
1570,2019-01-04,3832.040039,3363.363076,3291.952771,3857.717529,3857.717529,4847965467
1571,2019-01-05,3851.973877,3397.265676,3338.103127,3845.194580,3845.194580,5137609823

### aggregating, transpose and saving it to csv

In [9]:
s_filter_output.agg({'High (Eur)':['min','max','mean'],'Low (Eur)':['min','max','mean'],'Volume (Billion)':['min','max','mean']}).transpose().to_csv('Summary Output')